* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;   
}

body {
    background-image: url(../img/img1.jpg);
    background-position: center;
    background-size: cover;
}

 .h1-pricipal {
    font-family: Great Vibes;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    font-size: 60px;
    text-shadow: 0px 0px 20px black;
    color: white;
}

.hr-principal {
    margin:  0px;
    position: relative;
    bottom: 50px;
    width: 40%;
    margin: auto;
    box-shadow: 0px 0px 10px white;
    border-color: black;
}
/*----------------Encabezado-de-la-Pagina----------------*/

header {
    overflow: hidden;
    position: relative;
}

header h1 {
    background: rgba(0, 0, 0, 0.5);
    font-size: 3.5em;
    font-family: Great Vibes;
    position: relative;
    color: #5082c5;
    text-shadow: 0px 0px 7px white;
    padding-top: 10px;
    padding-left: 10px;
}

header #btn-menu {
    display: none;
}

header .icon-menu{
    display:none;
    border-right: 1px solid white;
    text-align: center;
    position: relative;
    font-size: 25px;
    width: 40px;
    padding: 8px;
    color: white;
    cursor: pointer;
}

header .icon-menu:hover{
    background: rgba(80, 130, 197, 0.5);
}

header nav{
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    width: 100%;
    background: black;
    position: relative;
    z-index: 5;
}

header ul {
    display: flex;
}

header ul li{
    list-style: none;
    text-align: center;
    color: white;
}


header a{
    border-right: 1px solid white;
    padding: 15px 25px 15px 25px;
    display: block;
    text-decoration: none;
    color: white;
}

header ul li:hover{
    background: rgba(80, 130, 197, 0.5);
    cursor: pointer;
}

header .active {
    background: rgba(80, 130, 197, 0.8);
}

/*---------------------seccion-uno---------------------*/

.seccion-uno {
    border: solid;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: black;
}

.seccion-uno article {
    width: 33%;
    text-align: center;
    margin: 23px 10px 25px 10px;
    width: 20pc;
}

.seccion-uno .icon {
    display: block;
    font-size: 100px;
    color: white;
    
}

.seccion-uno a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px;;
    margin: auto;
    margin-top: 20px;
    font-size: 20px;
    width: 70%;
    background: black;
    border-radius: 5px;
    border: 1px solid white;
}











/*--------------------Seccion-dos--------------------*/

.seccion-dos {
    max-width: 500px; 
    width: 80vw;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    height: 450px;
    overflow: hidden;
    background: black;
}

.seccion-dos h1 {
    font-family: Great Vibes ;
    font-size: 50px;
    padding: 7px 5px 0px 5px;
    text-align: center;
    color: rgba(80, 130, 197, 0.8);
    text-shadow: 0px 0px 7px black;
}

.seccion-dos hr {
    width: 70%;
    margin: auto;
    margin-bottom: 10px;
}

.seccion-dos .input {
    display: flex;
    width: 80%;
    margin-left: 10px;
    padding: 12px;
    margin-bottom: 20px;
    margin-top: 20px;
    height: 20px;
    border: 2px solid black;
}

.seccion-dos textarea {
    width: 85%;
    max-width: 96%;
    min-width: 96%;
    min-height: 150px;
    max-height: 150px;
    margin-left: 10px;
    border: 2px solid black;
}

.seccion-dos .btn-enviar {
    width: 30%;
    margin: auto;
    margin-top: 5px;
    display: block;
    padding: 6px;
    border-radius: 5px;
    border: solid white;
    cursor: pointer;
    color: white;
    background: rgba(0, 0, 0, 0.8);
}

/*---------------------Pie de pagina---------------------*/

footer{
    background: black;
    text-align: center;
    padding: 10px;
    color: white;
}

/*----------------------Keyframes----------------------*/
@media(max-width:768px){
    /*-------Encabezado-------*/
    header {
        height: 280px;
    }

    header .conten-menu {
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        position: relative;
        background: rgba(0, 0, 0, 0.8);
    }
    
    header .icon-menu {
        display:block
    }
    
    header nav{
        width: 100%;
        position: absolute;
        margin-left: -150%;
        transition: all 1s;
    }
    
    header ul {
        display: block;
    }
    
    header ul li{
        position: relative;
        border-bottom: 1px solid white;
   
    }
    
    header a{
        padding: 10px 0px 10px 0px;
        display: block;
    }

    
    header #btn-menu:checked ~ nav {
        margin: 0;
    }
    
    /*-----------body-----------*/
    
    .h1-pricipal {
        margin-top: 0;
        margin-bottom: 20px;
    }
    
    
    
    
    /*--------seccion-uno--------*/
    
    .seccion-uno {
        margin-top: 0;
        margin-bottom: 20px;
    }
    
    
    
    
    /*--------Seccion-dos--------*/
    
    .seccion-dos {
        margin-top: 0;
    }
    
    .seccion-dos input{
        margin: auto;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    
    .seccion-dos textarea {
        max-width: 90%;
        min-width: 90%;
    }